@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Secular One', sans-serif;
  color: white;
}

.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.search-block {
  position: absolute;
  display: flex;
  width: 30vw;
  max-width: 500px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.search-space {
  min-height: 45px;
  width: 100%;
  height: 5.25vh;
  background: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0 54px 0 15px;
  font-size: 17px;
}

.search-button {
  color: black;
  cursor: pointer;
  margin-left: -47px;
}

.search-button:hover {
  transform: scale(1.15);
}

.welcome-message {
  position: absolute;
  left: 51%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  white-space: nowrap;
}

.welcome-message p:hover {
  transform: scale(1.005);
}

.left-box {
  position: absolute;
  left: 20%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  white-space: nowrap;
}

.location:hover {
  transform: scale(1.05);
}

.description {
  font-size: 1.5vw;
}

.description:hover {
  transform: scale(1.05);
}

.right-box {
  position: absolute;
  right: 10%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  white-space: nowrap;
}

.right-box p:hover {
  transform: scale(1.05);
}