@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Secular One', sans-serif;
  color: white;
}

.app {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.search-block {
  position: absolute;
  display: flex;
  width: 30vw;
  max-width: 500px;
  min-width: 250px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.search-space {
  min-height: 45px;
  width: 100%;
  height: 5.25vh;
  background: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0 54px 0 15px;
  font-size: 17px;
}

.search-button {
  color: black;
  cursor: pointer;
  margin-left: -47px;
}

.search-button:hover {
  transform: scale(1.15);
}

.welcome-message {
  position: absolute;
  left: 51%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  white-space: nowrap;
}

.welcome-message p:hover {
  transform: scale(1.005);
}

.top-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
}

.left-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  font-size: max(3vw, 25px);
}

.location:hover {
  transform: scale(1.04);
}

.description {
  width: min-content;
  white-space: nowrap;
  font-size: max(1.5vw, 15px);
}

.description:hover {
  transform: scale(1.08);
}

.right-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 3%;
  font-size: max(3vw, 25px);
}

.temp:hover {
  transform: scale(1.05);
}

.high-low-container {
  display: flex;
  font-size: max(1.5vw, 15px);
  width: 100%;
  justify-content: space-between;
}

.line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 80%;
  border-left: 1px solid white;
}

.temp-low:hover {
  transform: scale(1.2);
}

.temp-high:hover {
  transform: scale(1.2);
}

